.ConsoleHeader {
    padding: 10px 0px;

    p {
        display: inline;
    }

    button {
        margin-top:-4px;
        float: right;
    }
}

.HeaderWrapper {
    background-color: #eee;
}

.ConsoleView {
    height: calc(50vh - 44px);
    padding: 0px;

    input {
        width: calc(100% - 45px) !important;
        margin-right: 5px;
    }

}

.LogView {
    height: calc(50vh - 89px);
    overflow-y: scroll;
    margin-bottom: 5px;

    p {
        margin-bottom: 0px;

        code.input {
            color: #111;
            font-weight: 600;
        }

        code.error {
            color: #e03b3b;
        }

        code.output {
            color: #333;
        }
    }
}